*.aux
*.backup
*.bbl
*.bcf
*.synctex.gz
*.blg
*.log
*.out
*.out.ps
*.toc
*.spl
*.tex~
*.run.xml
*-blx.bib
*.dep
*.dpth
*.md5
*.auxlock
*.fdb_latexmk
*.fls

main*.pdf
response_to_reviewers.pdf
significance_and_novelty.pdf
research_highlights.pdf

.directory

**/.ipynb_checkpoints
**/__pycache__/
**/out*/

*.avi
*.mp4
*.code-workspace
**/*.pb.gz

.DS_Store
